# ملفات ومجلدات Python الأساسية
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
pip-log.txt
pip-delete-this-log.txt
.Python

# ملفات ومجلدات MLOps و Jupyter/VS Code
.ipynb_checkpoints/
.vscode/
mlruns/                 # مجلد MLflow (عادةً لا يتم رفعه إذا كنت تستخدم تتبعًا بعيدًا)
artifacts/              # مجلد لتخزين مخرجات النماذج/البيانات المؤقتة
*.model                 # ملفات النماذج النهائية
*.pkl
*.h5

# ملفات البيانات الكبيرة (يجب عدم رفعها)
data/
data/*
.csv
.parquet
.db

# ملفات نظام التشغيل
.DS_Store
Thumbs.db

